.search-bar-position{
    position: relative;
    top: 30px;
}

.Welcome-Message{
    text-align: center;
    position: relative;
    top: 50px;
}

.footer-bar{
    position: relative;
    top: 710px;
}