.search-bar-position{
    position: relative;
    top: 30px;
}

.Welcome-Message{
    text-align: center;
    position: relative;
    top: 50px;
}

main{
    min-height: 804px;
}


html, body {
    height: 100%;
}