.search-bar-position{
    position: relative;
    top: 30px;
}

.Welcome-Message{
    text-align: center;
    position: relative;
    top: 50px;
}

main{
    min-height: calc(100vh - 157px);
}
.footer-bar{
    position: relative;
    margin: 0;
    width: 100%;
}
