{% extends 'layout.html' %}
{% block content %}

<script>
	function myFunction() {
		const userInput = document.getElementById("myInput").value.toUpperCase();
		const tableRows = document.querySelectorAll(".dataTable tr");
		for (let i = 0; i < tableRows.length; i++) {
			const rowTextContent = tableRows[i].innerText.toUpperCase();
			tableRows[i].style.display = rowTextContent.toUpperCase().includes(userInput) ? "" : "none";
		}
	}
	$(document).ready(function () {
		$('#dataTable').DataTable({


		});

		$('#dataTable tbody').on('click', 'tr', function () {
			$(this).toggleClass('selected');
		});
	});



</script>


<div align="center">
	<!--Displaying the converted table-->
	{% for table in tables %}
	{{ table|safe }}
	{% endfor %}
</div>
{% endblock %}